body, html {
    height: 100%;
    margin: 0;
  }
.top-cell {
    position: relative;
    flex-shrink: 0;
    width: 100%;
}
.bottom-cell {
    overflow-y: auto; /* Enables scrolling */
    flex-grow: 1;
    width: 100%;
 }
.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.form-day {
    width: 200px;
}

.not-collapsed .bi-plus-circle {
    display: none;
}
.not-collapsed.collapsed .bi-plus-circle {
    display: inline;
}

.not-collapsed .bi-dash-circle {
    display: inline;
}
.not-collapsed.collapsed .bi-dash-circle {
    display: none;
}

.debug-text {
    font-size: 14px;
}

.search-form > div {
    margin-right: 10px;
}
