body, html {
    height: 100%;
    margin: 0;
}

.results {
    overflow-y: auto;
}

.debug-xml {
    height: 100%;
    resize: none;
}

.form-day {
    width: 200px;
}

.not-collapsed .bi-plus-circle {
    display: none;
}
.not-collapsed.collapsed .bi-plus-circle {
    display: inline;
}

.not-collapsed .bi-dash-circle {
    display: inline;
}
.not-collapsed.collapsed .bi-dash-circle {
    display: none;
}

.debug-text {
    font-size: 14px;
}
